
body {
  
  display: grid;
  place-content: center;
  height: 100vh;
  font-size: 2rem;
}

.container {
  height: 80vh;
  width: 70vh;
  padding: 1rem;
  border: 2px solid black;
}

.wrapper {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-rows: repeat(6, 1fr); */
  gap: 2px;
}


.screen {
  grid-column: 1 / -1;
  text-align: right;
 
}
.wrapping {
  display: grid;
  gap: 2px;
  grid-template-columns: repeat(3, 1fr);
  grid-column: span 2;
}

.btn {
  display: grid;
  place-content: center;
  background-color: rgb(10, 5, 0);
  color: white;
  cursor: pointer;
}
.btn:hover {
  background-color: gray;
}

.btn1 {
  display: grid;
  grid-column: span 2;
  place-content: center;
  background-color: rgb(10,5,0);
  color: white;
  cursor: pointer;
  
}

.btn1:hover {
  background-color:gray;
}

.btn2 {
  display: grid;
  place-content: center;
  background-color: rgb(10, 5, 0);
  color: white;
  cursor: pointer;
  padding-left: 2rem;
  padding-right: 1.3rem;
}
.btn2:hover {
  background-color: gray;
}

